RewriteEngine On

# Redirect okfn.ch to opendata.ch
RewriteCond %{HTTP_HOST} okfn\.ch$ [NC]
RewriteRule .* https://opendata.ch/$1 [R=301,L]

# Redirect from old wiki URLs to new wiki URLs
RewriteRule ^doku.php https://make.opendata.ch/wiki/doku.php [R=301,L,QSA]

# Redirect convenience URLs
RewriteRule ^/?schule.*$ https://make.opendata.ch/?page_id=795
RewriteRule ^/?school.*$ https://make.opendata.ch/?page_id=806
RewriteRule ^/?ecole.*$ https://make.opendata.ch/?page_id=912
RewriteRule ^/?legal.*$ https://make.opendata.ch/?page_id=541

# Redirect to tourism event page
RewriteCond %{HTTP_HOST} tourism\.opendata\.ch$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?vip$ https://opendata.ch/events/vip-programm-open-tourism-data-hackdays/ [L,R=301,QSA]
RewriteCond %{HTTP_HOST} tourism\.opendata\.ch$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?$ https://opendata.ch/projects/open-tourism-data-hackdays [L,R=301,QSA]

# Redirect to https://
RewriteCond %{HTTPS} !on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L,QSA]

# Make PHP accept big stuff
php_value post_max_size 301M
php_value upload_max_filesize 300M

# New Relic
php_value newrelic.appname "opendata.ch"
php_value newrelic.enabled "true"

# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^([_0-9a-zA-Z-]+/)?files/(.+) wordpress/wp-includes/ms-files.php?file=$2 [L]

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) wordpress/$1 [L]
RewriteRule ^(.*\.php)$ wordpress/$1 [L]
RewriteRule . index.php [L]
# END WordPress
