<?php

$client = new \Buzz\Client\Curl();
$client->setTimeout(60);

$app['debug'] = false;

$app['http_cache'] = false;

$app['buzz.client'] = $client;

$app['monolog.level'] = Monolog\Logger::ERROR;

$app['redis.config'] = ['host' => 'localhost', 'port' => 6379];

$app['stats.config'] = ['enabled' => true];

$app['rate_limiting.config'] = ['enabled' => true, 'limit' => 300];

$app['proxy'] = false;
